body.center-form {
    min-height: 50vh;
  }

  div.center-form {
    position: relative;
    min-height: 80vh;
  }

  div.center-form > form {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translateY(-50%) translateX(-50%);
  }


   
  .checkbox{
    display: flex;
    flex-flow: row wrap;
    }
    .checkbox-50 {
        width: 50%;
    }